<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-3 columns">
      <div id="title-wrapper">
          <% if @subscription.name != true %>
            <h1><%= @subscription.name %></h1>
            <% else %>
          <% end %>
        <div>
          <%= f.submit "Update", :class => "button large round" %>
        </div>

        <div>
          <%= link_to 'Show', @subscription %> |
          <%= link_to 'Back', subscriptions_path %>
        </div>

      </div>
    </div>

    <div class="large-2 columns">
      <div class="radio-wrapper">
        <div class="field">
          <%= f.label :monthly %><br>
          <%= f.check_box :monthly %>
        </div>
        <div class="field">
          <%= f.label :annually %><br>
          <%= f.check_box :annually %>
        </div>
      </div>
    </div>

    <div class="large-3 columns">
      <br>

      <p>Date: <input type="text" id="datepicker"></p>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :fee %><br>
        <%= f.number_field :fee %>
      </div>
    
    </div>

  </div>

<% end %>
