<% content_for(:body_id, "index") %>

  <div class="large-8 columns">
    <h1 class="paying">Your bundle comes to...</h1>
  </div>

  <div class="large-4 columns">

    <% @subscriptions.each do |subscription| %>
      <% if subscription.monthly == true %>
        <% @next_month_total << subscription.fee %>
        <% @next_year_total << subscription.fee * 12 %>
      <% else %>
        <% @next_year_total << subscription.fee%>
      <% end %>
    <% end %>

    <h3><span class="monthly"><%= @next_month_total.sum %></span>$/month</h3>

  </div>
  
  <div class="large-4 columns">
    <% @subscriptions.each do |subscription| %>
      <% @next_month_total << subscription.fee %>
      <% end %>

    <h3><span class="yearly"><%= @next_year_total.sum %></span>$/year</h3> 
  </div>

  <div class="large-9 columns">
        <table class="subscription-list">
          <tr>
          <% @subscriptions.each do |subscription| %>
            
              <td><h2><%= subscription.name %></h2></td>
              <td><h2>$<%= subscription.fee %></h2></td>
                <% if subscription.monthly == true %>
                  <% subscription_length  = "/month" %>
                <% else %>
                  <% subscription_length  = "/year" %>
                <% end %>
              <td><h2><%= subscription_length %></h2></td>
              <td>
                <div class="delete_button"><%= link_to 'Delete', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </td>

          </tr>
          <% end %>
        </table>
  </div>

    



