<div class="row">
  <div class="large-8 large-offset-2 columns">

    <% @subscriptions.each do |subscription| %>
      <% @total << subscription.fee %>
      <% end %>

    <h2>Next Month: <%= @total.sum %></h2> 






    <% @subscriptions.each do |subscription| %>
        <div><%= subscription.name %></div>
        <div><%= subscription.fee %></div>
        <div><%= subscription.date %></div>
        <div><%= subscription.monthly %></div>
        <div><%= subscription.annually %></div>
        <div><%= link_to 'Show', subscription %></div>
        <div><%= link_to 'Edit', edit_subscription_path(subscription) %></div>
        <div><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
 
    <%= link_to 'New Subscription', new_subscription_path %>
   <h2>Some Stuff</h2>

  </div>
</div>

