<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript">
      jQuery(function($) {
        $( "#datepicker" ).datepicker();
      });
    </script>


  
  </head>

  <body id="<%= yield :body_id %>">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
  <div class="row linkbox">
    <div class="large-2 columns">
      <div class="top-wrapper">
        <ul class="side-nav">
          <li><%= link_to 'Home', subscriptions_path, :class => "side-link-home"=%></li>
          <li><div><%= link_to 'Add Subscription', new_subscription_path, :class => "side-link-add"%></div></li>
          <% @subscriptions.each do |subscription| %>
          <li><%= link_to subscription.name, edit_subscription_path(subscription)%></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>
<!-- 
   <% @subscriptions.each do |subscription| %>
        <div><%= subscription.name %></div>
        <div><%= subscription.fee %></div>
        <div><%= subscription.date %></div>
        <div><%= subscription.monthly %></div>
        <div><%= subscription.annually %></div>
        <div><%= link_to 'Show', subscription %></div>
        <div><%= link_to 'Edit', edit_subscription_path(subscription) %></div>
        <div><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %> -->
    
    <%= javascript_include_tag "application" %>
  </body>
</html>